.ideaOnboardingForm {
  min-width: 800px;
  margin: 10px;
  padding: 10px;
}

.content__title {
	font-family: "Segoe UI Bold", sans-serif;
	font-size: 20px;
	color: #009900;
	margin-top: 0px;
}

.ideaForm {
  background-color: white;

  padding: 24px;
}

.select {
  max-width: 150px;
}

.kpnSmallInputField, .kpnLargeInputField {
  font-family: "Segoe UI Regular", sans-serif;
  font-size: 14px;
  max-width: 300px;
}

.kpnSmallInputTitle, .kpnLargeInputTitle {
	font-family: "Segoe UI Bold", sans-serif;
	font-size: 14px;
}

.kpnSubmitIdeaButton {
  margin-top: 32px;
  /* width: 200px; */
}