
.prjDetails {
min-height: 500px;
background-color: rgb(232, 240, 250) ;
color:black;

  }
  .prjPhase2 {
    min-height: 100px;
    background-color: rgb(240, 240, 240) ;
        }   

.prjAssumptions {
    min-height: 500px;
    background-color: rgb(216, 216, 216) ;
}

.canvasR1 {
    min-height: 100%;
    background-color: rgb(223, 223, 223) ;
}
.canvasR2 {
    color:black;
    min-height: 500px;
    background-color: rgb(211, 211, 188) ;
    }

    .prjPhase {
        max-height: 100px;
        min-height: 20px;
        background-color: rgb(202, 202, 202) ;
            }


    .Seagments {
        min-height: 500px;
        color:white;
        font-size:10px;
        background-color: rgb(205, 206, 211) ;
        }
        
        

    .canvasR3 {
        min-height: 50%;
        background-color: rgb(223, 223, 223) ;
        }

        .canvasR4 {
            min-height: 50%;
            min-width: 100%;
            background-color: rgb(184, 193, 231) ;
            }
    

            .rev1 {
                min-height: 100px;
                background-color: rgb(226, 226, 226) ;
                    }   

                    .rev2 {
                        min-height: 100px;
                        background-color: rgb(190, 182, 183) ;
                            }   
                                
.prjRemarks {
    min-height: 500px;
    background-color: rgb(226, 226, 226) ;
        }

                .prjCanvas {
                    min-height: 500px;
                    background-color: rgb(216, 216, 216) ;
                        }      

              
        
