.one-edge-shadow {
	-webkit-box-shadow: 0 4px 6px -6px black;
	   -moz-box-shadow: 0 4px 6px -6px black;
	        box-shadow: 0 4px 6px -6px black;
}

.corners2 {
    border-radius: 25px;
    border: 2px solid #73AD21;
  }