.card {
    height: 142px;
    min-width: 210px;
    max-width: 210px;
    background-color: #FFFFFF;
    margin-bottom: 10px;

  }

  .right {
    position: absolute;
    right: 7px;
  }
  .marginLeft {

    left: 3px;
  }

  .right2 {
    float: right;
    position: relative;
    right: 8px;
    text-align: right;

  }

  .titel {
    color: #333333;
    font-family: "kpn-metric-bold";
    font-size: 21px;
    font-weight: bold;
    max-height:10px;
  }
  .dots {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  .circle {
    margin-top: 5px;
    margin-left: 2px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.oih-fonts {
  color: #333333;
  font-family: "kpn-metric-normal";
  font-size: 15px;


}
.experiments {
    height: 24px;
    width: 123px;
    margin-left: 3px;
    color: #333333;
    font-family: "kpn-metric-normal";
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 24px;
  }