.onboardingForms {
    margin: 10px;
    padding: 10px;
}

.leftForm {
    background-color: white;
    
    padding: 20px;
}

.textInputField {
    max-width: 200px;
}

.rightForm {
    background-color: white;
    
    padding: 20px;
}

.selectInputField {
    max-width: 200px;
}